<h1>{{plan.title}}</h1>

<div class="row">
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4">
      <ul>
        {{#each plan.DailyWorkouts}} 
         <h3>Day {{this.weekday}} </h3>
         <b></b>
         <b></b>
          {{#if this.muscleGroup1}}
            <h4>  {{this.muscleGroup1}}</h4>
            <b></b>
            <b></b>
            <p>   {{this.lifts}}</p>
            <b></b>
            <b></b>
          {{/if}}
            {{#if this.muscleGroup2}}
             <h4> {{this.muscleGroup2}}</h4>
             <b></b>
             <b></b>
            <p>   {{this.lifts}}</p>
            <b></b>
            <b></b>
          {{/if}}
            {{#if this.muscleGroup3}}
             <h4>{{this.muscleGroup3}}</h4>
             <p>{{this.lifts}}</p>
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>

<script src="/js/viewplan.js"></script>




