<h1>{{plan.title}}</h1>

<div class="row">
    <div class="col col-lg-1"></div>
    <div class="col col-lg-4">
      <ul>
        {{#each plan.DailyWorkouts}} 
          {{#if this.muscleGroup1}}
            <p>{{this.muscleGroup1}}</p>
            <p musc={{this.muscleGroup1}} lift={{this.lifts}} class="lifts1"></p>
          {{/if}}
            {{#if this.muscleGroup2}}
             <p>{{this.muscleGroup2}}</p>
            <p musc={{this.muscleGroup2}} lift={{this.lifts}} class="lifts2"></p>
          {{/if}}
            {{#if this.muscleGroup3}}
             <p>{{this.muscleGroup3}}</p>
             <p musc={{this.muscleGroup3}} lift={{this.lifts}} class="lifts3"></p>
          {{/if}}
        {{/each}}
      </ul>
    </div>
</div>

<script src="/js/viewplan.js"></script>

